.container {
    height: 100vh;
    background-color: grey;
    border: 2vh solid black;
    position: absolute;
    width: 100%;
    font-family: fantasy;
}

ion-button {
    font-size: xx-large;
    color: black;
    height: 46vh;
    width: 100%;
    --background: beige;
}
.timeLeft {
    color: white;
    padding: 1%;
}

.border {
    height: 3vh;
    background-color: black;
    text-align: center;
}