.container {
    height: 100vh;
    background-color: grey;
    border: 15px solid black;
}
.row1 {
    height: 50vh;
    width: 100%;
    // width: 100vh;
    background-color: beige;
}
.row2 {
    height: 45vh;
    width: 100%;
    // width: 100vh;
    background-color: green;
}

.border {
    height: 1vh;
    background-color: black;
}